.navbar {
    color:pink;
    
}

.navbar-brand {
    /* your name */
}

.nav-link {
    /* the menu links */
}

.nav-link:hover {
    /* the menu links on hover */
} 

.nav-link.active {
    /* the current page's link */
}

.hero {
    background-color: pink;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }